<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#FF8303"/>
    <link rel="apple-touch-icon" href="../public/icons/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <title>Kenyangin - Search Restaurant Apps</title>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <a href="#maincontent" class="skip-link" tabindex="0">Menuju ke konten</a>
    <header class="header container">
        <div class="header__inner">
            <h1 class="header__title" tabindex="0">
                Kenyangin
            </h1>
        </div>
        <button id="hamburger" class="header__menu" tabindex="0">☰</button>
        <nav id="drawer" class="nav" tabindex="0">
            <ul class="nav__list">
                <li class="nav__item"><a href="#/home">Home</a></li>
                <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                <li class="nav__item"><a href="https://www.facebook.com/nmauludinam/" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main id="maincontent"></main>


    <footer></footer>
</body>
</html>